@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

@import 'blocks/promo';

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';