.consultation {
    min-height: 680px;
    background: url('../img/bg/bg_consultation.jpg') center (center / cover) no-repeat;
    padding: 103px 0 92px 0;
    &__descr {
        margin-top: 80px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }
}